<section class="py-5 container">

  <div class="card">
    <div class="card-header">
      Platforms
    </div>
    <div class="card-body">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <%= link_to('New Platform', new_platform_url, class: "btn btn-primary") %>
        <%= link_to('New Position', new_position_url, class: "btn btn-primary") %>
      </div>

      <hr />
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID#</th>
            <th>Platform</th>
            <th>Controls</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @platforms.each do |p| %>
            <tr>
              <td><%= p.id %></td>
              <td><%= link_to(p.name, platform_path(p.id)) %></td>
              <td>
                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasPosition<%= p.id %>" aria-controls="offcanvasExample">
                  Show positions
                </button>
              </td>
              <td>
                <div class="dropdown">
                  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Actions
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><%= link_to('Edit', edit_platform_url(p.id), class: 'dropdown-item') %></li>
                    <!-- <li><%= link_to('Delete', platform_path(p.id), method: :delete, data: {confirm: 'Are you sure?'}, class: 'dropdown-item') %></li> -->
                  </ul>
                </div>
              </td>
            </tr>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasPosition<%= p.id %>" aria-labelledby="Positions">
              <div class="offcanvas-header">
                <h3 class="offcanvas-title" id="offcanvasExampleLabel"><%= p.name %></h3>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <h5>Positions</h5>
                <ul>
                  <% p.positions.each do |q| %>
                    <li><%= q.name %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</section>
