<section class="py-5 container">
  <div class="card">
    <div class="card-header">
      <%= @platform.name %>
    </div>
    <div class="card-body">

      <div class="btn-toolbar d-grid gap-2 d-md-flex justify-content-between">
        <div class="btn-group">
          <a href="#" class="btn btn-primary active">Next</a>
        </div>

        <div>
          <%= "Showing ads #{Date.today} - #{publication_end_range(@platform.id)}" %>
        </div>

        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasAd" type="submit">Create booking</button>
      </div>

      <hr />
      <div class="accordion" id="positionAccordion">
        <% @positions.each do |p| %>
          <% if p.ads.in_publication_range(Date.today, publication_end_range(p.platform.id)).count > 0 %>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-<%= p.id %>">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= p.id %>" aria-controls="collapse<%= p.id %>">
                  <%= p.name %>
                </button>
              </h2>
              <div id="collapse<%= p.id %>" class="accordion-collapse collapse" aria-labelledby="heading-<%= p.id %>">
                <div class="accordion-body">

                  <%= render partial: "shared/ad_table_container", locals: {ads: p.ads.in_publication_range(Date.today, publication_end_range(p.platform.id))} %>

                </div>
              </div>
            </div>
          <% end %>
        <% end %>

        </div> <!-- End accordion -->

        <%= render partial: "booking", locals: {positions: @positions, clients: @clients} %>

      </div><!-- End card body -->
    </div>
</section>
