<div class="d-flex flex-column bg-light" style="width: 4.5rem;">
  <a href="/" id="sidebar-home" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
    <%= icon("box", class:"bi") %>
    <span class="visually-hidden">Icon-only</span>
  </a>
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li class="nav-item sidebar-item">
      <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
        <%= icon("speedometer2", class:"bi") %>
      </a>
    </li>
    <li class="nav-item sidebar-item">
      <%= link_to(platforms_path, class: sidebar_class(platforms_path) ) do %>
        <%= icon("newspaper", class:"bi") %>
      <% end %>
    </li>
    <li class="nav-item sidebar-item">
      <!-- <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Clients"> -->
      <%= link_to(clients_path, class: sidebar_class(clients_path) ) do %>
        <%= icon("person-circle", class:"bi") %>
      <% end %>
      <!-- </a> -->
    </li>
    <li class="nav-item sidebar-item">
      <%= link_to(ads_path, class: sidebar_class(ads_path) ) do %>
        <%= icon("card-text", class:"bi") %>
      <% end %>
    </li>
  </ul>
  <div class="dropdown border-top">
    <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="https://github.com/mdo.png" alt="mdo" class="rounded-circle" width="24" height="24">
    </a>
    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3" style="">
      <li><a class="dropdown-item" href="#">New project...</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><hr class="dropdown-divider"></li>
      <% if current_user.nil? %>
        <li><%= link_to new_user_session_path, class: 'dropdown-item' do %>Sign in<% end %></li>
      <% else %>
        <li><%= link_to destroy_user_session_path, class: 'dropdown-item', method: :delete do %>Log out<% end %></li>
      <% end %>
    </ul>
  </div>
</div>


<div class="divider"></div>
