<%= form_with model: @client do |form| %>
  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :address, class: "form-label" %>
    <%= form.text_field :address, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :phone, class: "form-label" %>
    <%= form.text_field :phone, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :website, class: "form-label" %>
    <%= form.text_field :website, class: "form-control" %>
  </div>
  
  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.hidden_field :organisation_id, value: current_user.organisation_id %>
  <%= form.submit :Save, class: "btn btn-primary" %>
<% end %>
