<section class="py-5 text-center container">

  <div class="card">
    <div class="card-header">
      Clients
    </div>
    <div class="card-body">
      <table class="table table-hover data-table">
        <thead>
          <tr>
            <th scope="col">ID#</th>
            <th scope="col">Client</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Ads</th>
          </tr>
        </thead>
        <tbody>
          <% @clients.each do |c| %>
            <tr>
              <th scope="row"><%= c.id %></th>
              <td><a href="<%= client_path(c.id) %>"><%= c.name %></a></td>
              <td><%= c.address %></td>
              <td><%= c.phone %></td>
              <td><%= c.ads.count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% if can? :manage, User %>
	<p>Visible only for superadmins and supervisors! </p>
<% end %>
    </div>
</section>
