<section class="py-5 container">
  <h2><%= @client.name %></h2>

  <div class="card">
    <div class="card-header">
      Contacts
    </div>
    <div class="card-body">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary me-md-2" type="button">Create contact</button>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Contact</th>
            <th>Department</th>
            <th>Phone</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody id="ad-table">
          <% @contacts.each do |c| %>
          <tr>
            <td><%= c.name %></td>
            <td><%= c.department %></td>
            <td><%= c.phone %></td>
            <td><%= c.mobile %></td>
            <td><%= c.email %></td>
            <td>
              <div class="dropdown">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Actions
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><%= link_to('Edit', edit_contact_url(c.id), class: 'dropdown-item') %></li>
                  <li><%= link_to('Delete', contact_path(c.id), method: :delete, data: {confirm: 'Are you sure?'}, class: 'dropdown-item') %></li>
                </ul>
              </div>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <br />
  <div class="card">
    <div class="card-header">
      Bookings
    </div>
    <div class="card-body">
      <%= render partial: "shared/ad_table", object: @ads %>
      </div>
    </div>
</section>
